{% extends "bootstrap/base.html" %}
{% block title %}Wordassoziationsspiel{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='extension.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='fakeLoader.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{url_for('.static', filename='extension.js')}}"></script>
<script type="text/javascript" src="{{url_for('.static', filename='fakeLoader.js')}}"></script>
{% endblock %}


{% block content %}
<div id="fakeloader"></div>
<div class="jumbotron" id="header" style="padding: 3rem 2rem">
    <div class="container">
        <div class="row">
            <img src="./static/association.png" class="col-lg-2" style="height:150px">
            <div class="col-lg-10">
                <h1 class="display-4" style="align-self:center">Wortassoziationsspiel</h1>
                <p class="lead">Schreib ein Wort in das Inputfeld und sieh, welche Assoziationen das System findet.</p>
            </div>
        </div>
        <hr class="my-4">
        {#<p>Some more text .. </p>#}
    </div>
</div>

<div class="container">
    {% if error %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Achtung</h4>
            {{error}}
        </div>
    {% endif %}


    <form method="post" action="/predict">
        <div class="row">
            <h3 class="display-5 col-lg-2">Basiswort </h3>
            <input name="input" type="text" class="form-control col-lg-8" id="input1" placeholder="Bitte hier das Basiswort eingeben...">
        </div>
        <button type="submit" class="btn btn-success btn-lg btn-block col-lg-12" style="margin-top: 0.5rem">Abschicken</button>
    </form>
    {% if prediction %}
    <p></p>
    <div class="container border border-success">
        <h3 class="display-5">Unser System hat {{no_hits}} Assoziationen zu "{{baseterm}}" gefunden. Versuch, diese zu erraten.</h3>
        {% if wrong_guess %}
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Schade</h4>
                {{wrong_guess}}
            </div>
        {% endif %}
        {% if right_guess %}
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Super</h4>
                {{right_guess}}
            </div>
        {% endif %}
        <form method="post" action="/guess">
            <input name="guess" type="text" class="form-control" id="input2" placeholder="Welche Assoziationen hast du?">
            <input class="form-control" type="text" name="prediction" value="{{prediction|safe}}" id="hiddenPred" hidden="true"/>
            <input class="form-control" type="text" name="baseterm" value="{{baseterm|safe}}" id="hiddenTerm" hidden="true"/>
            <input class="form-control" type="text" name="correct_guesses" value="{{correct_guesses|safe}}" id="hiddenCorrect" hidden="true"/>
            <button type="submit" class="btn btn-success btn-lg btn-block">Assoziation testen</button>
        </form>

        {% if correct_guesses %}
            <h3 class="display-5">Diese Assoziationen hast du schon gefunden: </h3>
            <ul>
                {% for cor in correct_guesses %}
                    <li>{{ cor }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <form method="post" action="/solution">
            <input class="form-control" type="text" name="prediction" value="{{prediction|safe}}" id="hiddenPred2" hidden="true"/>
            <input class="form-control" type="text" name="baseterm" value="{{baseterm|safe}}" id="hiddenTerm2" hidden="true"/>
            <input class="form-control" type="text" name="correct_guesses" value="{{correct_guesses|safe}}" id="hiddenCorrect2" hidden="true"/>
            <button type="submit" class="btn btn-success btn-lg btn-block">Lösung anzeigen</button>
        </form>
        {% if show %}
            <h3 class="display-5">Die Assoziationen unseres Systems sind: </h3>
            {% for pred in prediction %}
                <li>{{ pred }}</li>
            {% endfor %}
        {% endif%}
    </div>
    {% endif %}
</div>


<footer class="sticky">
   <div class="container">
        <img src="./static/00_UM_Dachmarke_EN_RGB-scale.png" style="height:60px"
             alt="Data and Web Science Research Group, University of Mannheim">
        <a href="https://dws.informatik.uni-mannheim.de/en/">
            <span class="text-muted">© Data & Web Science Research Group</span>
        </a>
    </div>
</footer>
{% endblock %}