{% extends "bootstrap/base.html" %}
{% block title %}Wordassoziationsspiel{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='extension.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='fakeLoader.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{url_for('.static', filename='extension.js')}}"></script>
<script type="text/javascript" src="{{url_for('.static', filename='fakeLoader.js')}}"></script>
{% endblock %}


{% block content %}
<div id="fakeloader"></div>
<div class="jumbotron" id="header">
    <div class="container">
        <h1 class="display-4">Wortassoziationsspiel</h1>
        <p class="lead">Schreib ein Wort in das Inputfeld und sieh, welche Assoziationen das System findet.</p>
        <hr class="my-4">
        {#<p>Some more text .. </p>#}
    </div>
</div>

<div class="container">
    {% if error %}
        <div class="alert alert-warning" role="alert">
            {{error}}
        </div>
    {% endif %}


    <form method="post" action="/predict">
        <h3 class="display-5">Basiswort: </h3>
        <input name="input" type="text" class="form-control" id="input1" placeholder="Bitte hier das Basiswort eingeben...">
        <button type="submit" class="btn btn-success btn-lg btn-block">Abschicken</button>
    </form>
    {% if prediction %}
    <p></p>
    <div class="container border border-success">
        <h3 class="display-5">Gefundene Assoziationen zu {{baseterm}} </h3>
        <ul>
        {% for pred in prediction %}
            <li>{{ pred }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>


<footer class="sticky">
   <div class="container">
        <img src="./static/00_UM_Dachmarke_EN_RGB-scale.png" style="height:60px"
             alt="Data and Web Science Research Group, University of Mannheim">
        <a href="https://dws.informatik.uni-mannheim.de/en/">
            <span class="text-muted">© Data & Web Science Research Group</span>
        </a>
    </div>
</footer>
{% endblock %}